{% extends '@ezdesign/pagelayout.html.twig' %}
{% block content %}
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            {{ ez_render_field(content, 'image', {'parameters':{ 'alias':'head'}, 'class': 'masthead-avatar mb-5'}) }}

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">{{ ez_content_name(content) }}</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

        </div>
    </header>

    <!-- content Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ ez_render_field(content, 'description') }}
                </div>
            </div>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- content Grid Items -->
            <div class="row">
                <!-- Content Item 1 -->
                {% for item in childrens %}
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            {{ ez_render_field(item, 'image', {'parameters':{'alias': 'folder_apercu'}, 'class': 'img-fluid'}) }}
                            <h2>{{ ez_content_name(item) }}</h2>
                            <p><a href="{{ path('ez_urlalias', {'contentId': item.id}) }}" class="btn btn-outline-info btn-lg">See more</a></p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.row -->
        </div>
    </section>

{% endblock %}